body {
  margin-top: 25% ;
 text-align: center;
 background-image: repeating-linear-gradient(to right, blue, rgba(155, 25, 25, 0.9));
}
.main-div {
  background-color: brown;
  color: antiquewhite;
}
ul {
  text-align: left;
  color: rgb(25, 27, 27);
  background-color: hotpink;
}

strong {
  background-color: rgb(20, 19, 19);
  color: antiquewhite;
  
}